.service-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0 0;
}
.service-section {
  margin-top: 100px;
}
.service-section .service-content {
  display: flex;
  flex-direction: row;
  height: 300px;
}
.service-section img {
  width: 80%;
  filter: grayscale(100);
}
.service-content-header h1 {
  height: 300px;
  font-family: "Poppins Semibold";
  font-size: 30px;
  padding-left: 100px;
  padding-top: 80px;
  color: #fff;
  width: 60%;
}
.service-content-header button {
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Poppins Bold";
  border: none;
  font-size: 12px;
  background-color: #fff;
  color: #f58a07;
}
.service-content-header {
  background-color: #f58a07;
}
.service-parent {
  max-width: 1000px;
  width: 70%;
}
.service-parent-header {
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
}
.service-parent-header img{
  width: 450px;
  border-radius: 5%;
}
.service-parent-header h2 {
  font-family: "Poppins Semibold";
  width: 50%;
  padding-top: 30px;
}
.service-parent p {
    font-family: "Poppins Regular";
    width: 40%;
    margin-top: -15rem;
    font-size: 12px;
}
.service-parent-author{
  display: flex;
  flex-direction: row;
}
.service-parent-author img{
  width: 70px;
  height: 70px;

}
.service-parent-author p{
  font-family: "Poppins Semibold";
  font-size: 16px;
  margin: 10px;
  width: 100%;
}
.service-parent-author .title{
  color: #f58a07;
  margin-top: -10px;
  font-size: 14px;

}